@font-face {
    font-family: "Noto Serif Myanmar";
    src: local("Noto Serif Nyamar"),
    url("../fonts/Noto_Serif/NotoSerif-VariableFont_wdth,wght.ttf");
}

body {
    margin: 0;
    background: aliceblue;
    font-family: "Noto Serif Myanmar", sans-serif;
}

header {
    background: #5C6898;
    padding: 15px 70px;
    margin-bottom: 30px;
}

.logoText {
    font-size: 30px;
}

.underLogoText {
    font-size: 13px;
    color: aliceblue;
}


#editProfileButton {
    position: absolute;
    top: 30px;
    right: 50px;
    border: 1px solid #5C6898;
    border-radius: 15px;
    padding: 10px;
    color: #5C6898;
    cursor: pointer;
}

#editProfileInfo {
    width: 600px;
    position: fixed;
    right: -650px;
    border: 1px solid black;
    border-radius: 15px;
    background: #5C6898;
    transition: 0.5s;
}

#editForm input:not(input[type=submit]), textarea {
    width: 60%;
    float: right;
    margin-right: 10px;
    margin-top: 5px;

}

#editForm label {
    display: inline-block;
    padding-top: 5px;
}

#closeEditForm {
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -25px;

}

#saveEditFormButton {
    border: 1px solid #5C6898;
    border-radius: 15px;
    padding: 10px;
    color: #5C6898;
    cursor: pointer;
    margin-left: 230px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sideBar ul li a {
    text-decoration: none;
    color: #313131;
}

.sideBar ul li {
    list-style: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.sideBar ul li:hover {
    background: #5C6898;
    box-sizing: border-box;
    cursor: pointer;
}

.sideBar ul li:hover a {
    color: aliceblue;
}

.sideBar ul {
    padding: 15px;
    margin: 0;
}

.sideBar {
    margin-right: 50px;
    width: 20%;
    background: #D1D5FA;
    box-sizing: border-box;
    border-radius: 15px;
    height: 30%;
}

main {
    display: flex;
    padding: 0 50px;
}

.basicContent {
    width: 100%;
}

.basicInfo {
    display: flex;
    padding: 15px;
    background: #d6e2ee;
    border-radius: 15px;
    margin-bottom: 20px;
}

.logoContainer {
    width: 150px;
    height: 150px;
    background: #D1D5FA;
    margin-right: 20px;
    border-radius: 15px;
    flex-shrink: 0;
}

.contentContainer {
    display: flex;
}

.newsSection {
    padding: 15px;
    width: 80%;
    background: #d6e2ee;
    margin-right: 20px;
    border-radius: 15px;
    /*height: 100vh;*/
}

.friendsSection {
    padding: 15px;
    width: 20%;
    background: #d6e2ee;
    border-radius: 15px;
    height: 300px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px;
}

.moreProfileInfoButton {
    background: none;
    border: 1px solid #5C6898;
    border-radius: 15px;
    padding: 10px;
    color: #5C6898;
    transition: 0.5s;
    margin-bottom: 10px;
}

.moreProfileInfoButton:hover {
    border: 1px solid #5C6898;
    background: #5C6898;
    color: aliceblue;
    transition: 0.5s;
    cursor: pointer;
}

.names {
    font-weight: bolder;
}

.fioContainer {
    margin-bottom: 10px;
}

#moreInfoProfile {
    height: 0;
    overflow: hidden;
    margin-top: 10px;
    transition: 2s;
}

.newsTextArea {
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
}

.addNewNewsBlock {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.labelForTextarea {
    margin-bottom: 10px;
}