.newsListElement {
    padding: 15px;
}

.newsImg {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.newsCreationDate {
    font-weight: bold;
    margin-bottom: 15px;
}

.newsCommnetsBlock {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.newsCommentsLabel {
    font-weight: bold;
}

.newsText {
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
    position: relative;
}

.newsText1:after {
    content: "...ещё";
    position: absolute;
    top: 72px;
    right: 1px;
    cursor: pointer;
    font-weight: bold;
    background-color: #d6e2ee;
}

