#editProfileButton {
    position: absolute;
    top: 30px;
    right: 50px;
    border: 1px solid #5C6898;
    border-radius: 15px;
    padding: 10px;
    color: #5C6898;
    cursor: pointer;
}

#editProfileInfo {
    width: 80%;

    border: 1px solid black;
    border-radius: 15px;
    background: #D1D5FA;

}

#editForm input:not(input[type=submit]), textarea {
    width: 60%;
    float: right;
    margin-right: 10px;
    margin-top: 5px;

}

#editForm label {
    display: inline-block;
    padding-top: 5px;
}

#closeEditForm {
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -25px;

}

#saveEditFormButton {
    border: 1px solid #5C6898;
    border-radius: 15px;
    padding: 10px;
    color: #5C6898;
    cursor: pointer;
    margin-left: 230px;
    margin-top: 30px;
    margin-bottom: 10px;
}