.sideBar ul li a {
    text-decoration: none;
    color: #313131;
    font-size: 13px;
}

.sideBar ul li {
    list-style: none;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sideBar ul li img {
    width: 25px;
    margin-right: 5px;
}

.sideBar ul li:hover {
    background: rgba(92, 104, 152, 0.75);
    box-sizing: border-box;
    cursor: pointer;
}

.sideBar ul li:hover a {
    color: aliceblue;
}

.sideBar ul {
    margin: 0;
    padding: 0;
}

.sideBar {
    margin-right: 15px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 8px;
    height: 30%;
}